<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 加载属性配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 扫描 业务类 -->
	<context:component-scan base-package="com.viiyue.mapper.spring.demo.service">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 为了演示这里使用Spring自带的数据源，就单独引入其他数据源作为演示了。 -->
	<!-- 在实际情况中请更换成自己平时使用的数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.userName}" />
		<property name="password" value="${db.password}" />
		<property name="driverClassName" value="${db.driver}" />
	</bean>

	<!-- MyBatis SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		
		<!-- 省略其他配置 -->
		<!-- <property name="..." value="..." /> -->
		
		<!-- 在spring环境下，mybatis配置文件不是必要的 -->
		<!-- <property name="configLocation" value="classpath:spring/mybatis.xml" /> -->

		<!-- 配置XML文件 -->
		<property name="mapperLocations" value="classpath:mapper/*Mapper.xml" />
		
		<!-- 实体对象别名配置，在mybatis-mapper环境下，此项必须开启 -->
		<property name="typeAliasesPackage" value="com.viiyue.mapper.spring.demo.model;com.viiyue.mapper.spring.demo.bean" />
		
		<!-- Spring环境下启用XML模板语法的方式 -->
		<property name="defaultScriptingLanguageDriver" value="com.viiyue.plugins.mybatis.MyBatisMapperLanguageDriver"/>
		
		<!-- 启用mybatis-mapper插件 -->
		<property name="sqlSessionFactoryBuilder">
			<bean class="com.viiyue.plugins.mybatis.MyBatisMapperFactoryBuilder" />
		</property>
		
		<!-- mybatis-mapper偏好配置 -->
		<property name="configurationProperties">
			<props>
				<prop key="enableLogger">true</prop>
				<prop key="enableRuntimeLog">true</prop>
				<prop key="enableCompilationLog">true</prop>
				<prop key="enableOptimisticLock">true</prop>
				<prop key="enableKeywordsToUppercase">true</prop>
				<prop key="databaseColumnStyle">#</prop>
			</props>
		</property>
	</bean>

	<!-- 扫描Mapper接口 -->
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.viiyue.mapper.spring.demo.mapper" />
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

	<!-- Transaction manager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Transaction configuration -->
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- Create -->
			<tx:method propagation="REQUIRED" name="insert*" />
			<tx:method propagation="REQUIRED" name="create*" />
			<tx:method propagation="REQUIRED" name="append*" />

			<!-- Delete -->
			<tx:method propagation="REQUIRED" name="drop*" />
			<tx:method propagation="REQUIRED" name="delete*" />
			<tx:method propagation="REQUIRED" name="remove*" />

			<!-- Modify -->
			<tx:method propagation="REQUIRED" name="edit*" />
			<tx:method propagation="REQUIRED" name="update*" />
			<tx:method propagation="REQUIRED" name="modify*" />
			<tx:method propagation="REQUIRED" name="refresh*" />

			<!-- Select -->
			<tx:method propagation="SUPPORTS" read-only="true" name="get*" />
			<tx:method propagation="SUPPORTS" read-only="true" name="load*" />
			<tx:method propagation="SUPPORTS" read-only="true" name="find*" />
			<tx:method propagation="SUPPORTS" read-only="true" name="query*" />
			<tx:method propagation="SUPPORTS" read-only="true" name="select*" />
			<tx:method propagation="SUPPORTS" read-only="true" name="search*" />

			<!-- No transaction -->
			<!-- Some methods do not need transaction -->
			<tx:method propagation="NOT_SUPPORTED" name="do*" />

			<!-- Others -->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
</beans>